* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("UMC.svg") no-repeat center;
  background-size: cover;
}

.txt {
  font-size: 40px;
  color: black;
  text-align: center;
}
.txt:after {
  content: "";
  display: block;
  width: 400px;
  border-bottom: 2px solid white;
  margin: 10px auto;
}
.text-field {
  width: 300px;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  font-size: 15px;
  color: #fff;
  outline: none;
}

.login-form {
  padding-top: 20px;
  padding-left: 140px;
  margin: 0 auto;
}
.login-total {
  width: 700px;
  height: 450px;
  border-radius: 9px;
  background-color: #ffffff9c;
  border: 0;
  padding: 50px;
}
#login {
  background-color: rgb(54, 52, 52);
  border-color: transparent;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 9px;
  width: 300px;
  height: 45px;
  text-align: center;
}
#alert {
  border-color: transparent;
}
.links {
  color: rgb(54, 52, 52);
}
