* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(file:///C:/Users/GRAM/Downloads/UMC%20%EB%AD%94%EA%B0%80%20%EA%B0%84%EC%A7%80%EB%82%98%EB%8A%94%20%EB%B0%B0%EA%B2%BD1%202.svg)
    no-repeat center;
  background-size: contain;
}

.form_background {
  width: 630px;
  height: 600px;
  border-radius: 12px;
  background-color: #ffffffa0;
  border: 0;
  padding: 50px;
  padding-top: 25px;
}

.txt {
  font-size: 45px;
  color: black;
  text-align: center;
}
.txt:after {
  content: "";
  display: block;
  padding-top: 5px;
  width: 360px;
  border-bottom: 2px solid white;
  margin: 3px auto;
}

.int-area {
  width: 250px;
}
.int-area input {
  width: 100%;
  height: 29px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #ffffffc6;
  border-radius: 5px;
  color: #fff;
}
.int-area input:focus {
  outline: none;
}
.int_txt {
  font-size: 12px;
  color: #fff;
}
.membership-form {
  padding-top: 27px;
  padding-left: 140px;
  margin: 0 auto;
}

.btn-area {
  margin-top: 20px;
}
.btn-area button {
  color: white;
  font-size: 20px;
  background-color: rgb(126, 122, 122);
  border: none;
  border-radius: 8px;
  width: 250px;
  height: 40px;
  text-align: center;
}
